<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css?v=3') }}">  -->
<!--    <link rel="stylesheet" href="../static/css/style.css?v=3" type="text/css" />  -->
    <title>Stock Smart</title>
    <style>
	.with, .without {
		width: 450px;
		height: 160px;
		border: 2px solid red;
		margin-left: 15px;
	}
    </style>
</head>

<body>
   
{% extends 'base.html' %}

{% block content %}
<h2>Types of Investments</h2>
<p>Choose the type of stock you would like to invest in. There are no wrong choices!</p>

<form method="post" action="">

	<div class="form-group" style="display:inline-block">    
	    <div class="bonus" >   	   
            	<input type="radio" id="divident" name="divident" value="divident" 
		       style="float:left" onclock="myFunction(this.value)" >
            	<label for="divident" class="with">Divident--<br> Divident stocks are great for beginners. 
			This type of stock are low risk. Depending on which company you invest in, 
                        you will receive $$$ every quarter. Because these are low risk stocks and more stable, 
                        they are good for long term plans. Short term gains are low, but it adds up!</label>
	    </div><br>
	    
	    <div class="nonbonus">
            	<input type="radio" id="undivident" name="divident" value="without divident" 
		       style="float:left" onclock="myFunction(this.value)" >
            	<label for="undivident" class="without">Without Divident--<br> 
			Stocks without divident are for the risk takers.Depending on which company you invest in, 
			you can earn a lot really fast or lose a lot really fast. It's a gamble!</label>
	    </div>
	</div><br>
    

	Your favorite brower is: <input type="text" id="result" >
	<a href="display">
		<input type="submit" value="Submit form">
	</a>
</form>
<script>
	function myFunction(divident) {
		document.getElementById('result').value=divident;
	}
</script>
{% endblock %}
</body>
</html>
