<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css?v=3') }}">  -->
<!--    <link rel="stylesheet" href="../static/css/style.css?v=3" type="text/css" />  -->
    <title>Stock Smart</title>
    <style></style>
</head>

<body>
   
{% extends 'base.html' %}

{% block content %}
<h2>Welcome to Stock Smart</h2>
<p>Enter your favirate stock to see its price</p>

<form method="post" name="myForm" onsubmit="return validateForm()">

    	<div class="form-group" style="display:inline-block;">
		<div class="share" style="float:left; width:270px; padding-left:30px";>
            		<label for="Shares">Shares</label>
            		<select name="Shares" id="share" placeholder="AAPL" class="form-control">
				<option value="" selected="selected">Select a Share</option>
  				<option value="AAPL">Apple</option>
  				<option value="TSLA">Tesla</option>
				<option value="GOOG">Google</option>
				<option value="INTC">Intel</option>
			</select>
		</div>
    	</div> <br>

    	<div class="form-group" style="width:240px;">
        	<button type="submit" value="submit" class="btn btn-primary" style="margin-left:30px;">Continue</button>
    	</div>
</form>
	<a href="{{ url_for("index") }}">
        	<button type="submit" class="btn btn-primary" style="margin-left:30px;">Go Back</button>
	</a>

	<script>
		function validateForm() {
			var x =document.forms["myForm"]["Shares"].value;
			if (x == "") {
				alert("Invalid Submit!");
				return false;
			} else {
				return true;
			}
		}
	</script>
{% endblock %}
</body>
</html>
